Django==4.2.3
gunicorn
django-cors-headers==3.7.0
shortuuid==1.0.13
python-slugify==8.0.4
social-auth-app-django==5.0.0
psycopg2-binary
google
google-cloud-secret-manager
vertexai
google-cloud-aiplatform>=1.38
numpy
protobuf==4.24.3
djangorestframework
djangorestframework-simplejwt
django-ratelimit
django-import-export
google-cloud-storage
sendgrid
jwcrypto
crcmod==1.7
cryptography==41.0.7